<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Bus Details</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <!-- Favicons -->
  <link href="assets/img/logo.png" rel="icon">

  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <script src="https://kit.fontawesome.com/b1df24ba15.js" crossorigin="anonymous"></script>


  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="/assets/css/busdetails.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <%- include('partials/header') -%>
    <!-- End Header -->

    <main id="main">

      <!-- ======= bus details Section ======= -->
      <br>
      <div class="grid-container">
        <% bus.forEach(list=> { %>

          <div class="grid-item">
            <div class="card2">

              <div class="img-avatar">
                <i class=" icon fa fa-bus fa-5x"></i>
              </div>
              <div class="card-text">
                <div class="portada">

                </div>
                <div class="title-total">
                  <div class="title"> <small>Driver:</small>
                    <%=list.driverName%>
                  </div>
                  <h2>
                    <%=list.title%>
                  </h2>

                  <div class="desc">
                    <%=list.location%>
                  </div>
                    <a href="#" class="image-link" data-image-url=<%=list.image%> ><i class="fa-solid fa-location-dot"></i> Navigation Route</a>
                  <div class="actions">
                    <button><small style="font-size: 15px;">contact us:</small>
                      <h6>
                        <%=list.contactNo%>
                      </h6>
                    </button>
                  </div>
                </div>

              </div>
            </div>
          </div>
          
          <% }); %>
            <br>
            <!-- card1 -->
      </div>


    
      <div class="image-popup" id="image-popup">
        <div class="image-container">
          <span id="close-btn">&times;</span>
          <img src="" alt="Pop-up Image">
        </div>
      </div>

      <script>
        // JavaScript code goes here
        document.addEventListener('DOMContentLoaded', function() {
          const imageLinks = document.querySelectorAll('.image-link');
          const imagePopup = document.getElementById('image-popup');
          const imageContainer = document.querySelector('.image-container');
          const image = imageContainer.querySelector('img');
          const closeBtn = document.getElementById('close-btn');
    
          imageLinks.forEach(function(link) {
            link.addEventListener('click', function(event) {
              event.preventDefault();
              const imageUrl = this.getAttribute('data-image-url');
              image.src = imageUrl;
              imagePopup.style.display = 'flex';
            });
          });
    
          closeBtn.addEventListener('click', function() {
            imagePopup.style.display = 'none';
          });
        });
      </script>



    </main><!-- End #main -->

    <%- include('partials/footer') -%>

      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
          class="bi bi-arrow-up-short"></i></a>

      <!-- Vendor JS Files -->
      <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
      <script src="/assets/vendor/aos/aos.js"></script>
      <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
      <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
      <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
      <script src="/assets/vendor/waypoints/noframework.waypoints.js"></script>
      <script src="/assets/vendor/php-email-form/validate.js"></script>

      <!-- Template Main JS File -->
      <script src="/assets/js/main.js"></script>

</body>

</html>